section#about

  h1 Let's get to know each other
  
  p
    a(href="https://www.last.fm/user/simonlang24/library/albums?from=2012-11-07") Last FM

  p
    // TODO: spotify feed
    i.icon-music 
    | As do most people, I 
    em love 
    | music. Rock, Folk, Roots, Reggae, Dub, Drum n Bass, Breakbeats, Hip Hop, Funk, Jazz, Soul, Classical.... soooo much good music in the world, and not nearly enough time to listen to it all. If I can wear a pair of good headphones while working, I'm a happy man. Festivals and concerts are definitely my social outing of choice.
  p
    i.icon-globe 
    | Travel is another of my passions. So far I've had the good fortune to see a bit of South East Asia, Europe, the United States, Fiji, and a lot of Australia.
  p
    i.icon-beaker 
    | Being a self confessed nerd, I read a lot. Mostly science novels - both fiction and non-fiction. I'm particularly interested in Artificial Intelligence, Human Consciousness, Evolution and Information Security.
  p
    i.icon-heart 
    | What else? Espresso, red wine, IPA, friends, family, nature, cooking, cycling, sleeping, hanging out with my dog, watching "The Wire". Usual stuff.
  p
    i.icon-remove-sign 
    | Just don't ask me about sport. I have trouble describing the difference between cricket and football. Subjects that leave me equally perplexed are politics, finance, Twitter and current-affair tv shows.
