section#code-samples
  h1
    .fa.fa-code
    |  Code Samples

  p See below for publicly accessible code snippets (gists).

  p More comprehensive or specific code samples can be provided on request.

  ul.public-gists
    li Loading Gists...

//- JustCommentThisOut
  p These are all over a year old, my work has changed pretty drastically since then. But hopefully they give you some insight into my level of JS understanding. Check out 
    a(href="https://gist.github.com/simon-lang") my gists
    |  for more recent code.
  ul
    li
      a(href='#jsModule') Javascript Module Pattern (early 2012)
    li
      a(href='#javsacriptCodesample') Javascript Card Game (early 2011)
    li
      a(href='#phpCodesample') PHP (early 2011)
  
  p#jsModule
    a.right(href='#') Back to Top
    strong(style='font-weight: bold;') Javascript Module Pattern
  script(src='https://gist.github.com/3290833.js?file=sample-module.js')
  br
  br
  
  p#javsacriptCodesample
    a.right(href='#') Back to Top
    strong(style='font-weight: bold;') Javascript
    |  (With jQuery and Data Templates)
  script(src='https://gist.github.com/4108739.js?file=offline-cards.js')
  br
  br
  
  p#phpCodesample
    a.right(href='#') Back to Top
    strong(style='font-weight: bold;') PHP
    |  (Symfony)
  script(src='https://gist.github.com/4108743.js?file=multiplayer-actions.php')
