section#education

  h1
    i.fa.fa-briefcase
    |  Education

  ul.spaced.read-more-items
    li
      a.read-more(href="#") more info...
      | 2003 - 2008: Bachelor of Engineering.
      small(style="opacity: 0.7;") Major in Software Engineering.
      | University of Queensland
      .hidden
        p Took me a while but I got there.
