section#employment

  h1
    i.fa.fa-briefcase
    |  Employment

  p(style="margin: 1em 0")
    small Most of these positions have examples of work available in my&nbsp;
        a.nav(href="#portfolio") portfolio
    br

  ul.spaced.read-more-items
    li
      a.read-more(href="#") more info...
      | 2016 - Present: Lens.org. Front End Developer
      small(style="opacity: 0.7;")  (JavaScript)
      .hidden
        p Since 2016 I have helped the non-profit&nbsp;
            a(href="https://www.lens.org") Lens.org
            |   with their mission to map the world's scholarly and patent data.
        p The Lens provides patent and scholarly search with detailed filtering, collection management and analysis tools.
        p Projects use: ES6, React, Redux, D3, Backbone, Angular, Java, Spring, ElasticSearch, REST

    li
      a.read-more(href="#") more info...
      | 2012 - 2016: Codeworx. Web Programmer
      small(style="opacity: 0.7;")  (Node JS, Coffeescript)
      .hidden
        p Starting in 2012, I worked full time for&nbsp;
            a(href="https://codeworx.com.au/") Codeworx
            | , producing a mobile web client for the Merge Gaming Poker network. The client is a single-page application that communicates in real time directly with the game servers using web sockets. Performance, security and usability are highly important.
        p Project uses: Coffeescript, NodeJS, Socket IO, Browserify, Mocha, Jade

    li
      a.read-more(href="#") more info...
      | 2012: Digicon. Web Programmer
      small(style="opacity: 0.7;")  (.NET, Javascript)
      .hidden
        p After returning from Scotland I immediately started working for a .NET Agency in Spring Hill called Digicon (now part of Deloitte). They produce large websites, intranets and apps for corporate type clients.
        p ASP .NET, C#, IIS, Responsive Design, Backbone JS, Sitecore, Orchard CMS, MongoDB, SQL Server, Entity Framework.

    li
      a.read-more(href="#") more info...
      | 2011: Open Platform. Front End Developer
      small(style="opacity: 0.7;")  (.NET, Javascript)
      p.hidden While living in Scotland, I briefly worked for the Edinburgh .NET software house&nbsp;
        a(href="http://openplatform.co.uk/") Open Platform
        | . Corporate-level web tools for big financial insitutions and similar types of clients. Their software is very high quality. While working there I brushed up a little on my C# and SVN, got familiar with .NET MVC & IIS but mainly focused on creating the front-end of their new website, using jQuery and CSS3.

    li
      a.read-more(href="#") more info...
      | 2010 - 2011: Self Employed. Web Programmer
      small(style="opacity: 0.7;")  (PHP, MySQL, Javascript)
      p.hidden One year working primarily through oDesk. Mostly 2-3 major projects and about 8-10 smaller, shorter ones. Almost all web applications.

    li
      a.read-more(href="#") more info...
      | 2006 - 2010: Kintek.com.au. Production Manager
      small(style="opacity: 0.7;")  (PHP, MySQL, Javascript)
      p.hidden When I joined Kintek there were only two other staff members. They taught me how to produce professional websites. The company grew to about 10 employees while I was there, and began to specialise in making highly advanced web applications. It was great team and I count myself lucky to have been a part of it. It was during my time at Kintek that I developed a real passion for Software Development, and the web as a platform.

    li
      a.read-more(href="#") more info...
      | 2008 - 2009: University of Queensland. Tutor
      small(style="opacity: 0.7;")  (Web Information Systems)
      p.hidden At University I worked as a tutor for a third year Web Information Systems course (INFS3202), and even received a tutoring excellence award which I was pretty proud of. The course covered topics such as HTML, CSS, Javascript, PHP, JSP, Oracle, MySQL and making basic web apps. It was a relatively easy subject for a lot of students but I believed it was a good, practical course unlike a lot of the other subjects I took.

    //- li
      a.read-more(href="#") more info...
      | 2004 - 2005: Queensland Department of Child Safety. Youth Worker
      p.hidden During university holidays I occasionally worked as a youth worker. This basically involved taking care of some foster kids during the days when no one else was able to. Some of them were pretty challenging behaviourly but overall it was a very rewarding and interesting job.

    li
      a.read-more(href="#") more info...
      | 2001 - 2005: Daily Mercury. IT Support
      p.hidden During high school and university holidays I worked as a trainee to the systems administrator of a local newspaper of about 100 staff. I really enjoyed this job.
        //- a() Here is a reference.
        |  My main role was to provide technical support to the staff. My boss, the sysadmin was great and I learned plenty about troubleshooting, networking and computer hardware. I also gained a bit of insight into the print industry.
