section#employment

  h1 
    i.fa.fa-briefcase
    |  Employment

  ul.spaced
    li
      a.read-more(href="#") more info...
      | 2016 - Present: LENS.ORG. Front End Developer (JS, Java)
      .hidden
        p The Lens is an open global cyberinfrastructure to make the innovation system more efficient and fair, more transparent and inclusive.
        p Specifically, the Lens serves nearly all of the patent documents in the world as open, annotatable digital public goods that are integrated with scholarly and technical literature along with regulatory and business data.
        p Projects use: ES6, React, Redux, Backbone, Java, Spring

    li
      a.read-more(href="#") more info...
      | 2012 - 2016: Codeworx. Web Programmer (Node JS, Coffeescript)
      .hidden
        p Since mid 2012 I have been working full time for Codeworx, producing a mobile web client for the Merge Gaming Poker network. The client is a single-page application that communicates in real time directly with the game servers using web sockets. Performance, security and usability are highly important.
        //- You can play the client at 
        //-   a(href="https://carbonpoker.mergeclient.eu/") Carbon Poker
        p Project uses: Coffeescript, NodeJS, Socket IO, Browserify, Mocha, Jade

    li
      a.read-more(href="#") more info...
      | 2012: Digicon. Web Programmer (JS, .NET)
      .hidden
        p After returning from Scotland I immediately started working for a .NET Agency in Spring Hill called Digicon (now part of Deloitte). They produce Corporate  websites, intranets and apps.
        p ASP .NET, C#, IIS, Responsive Design, Backbone JS, Sitecore, Orchard CMS, MongoDB, SQL Server, Entity Framework.

    li
      a.read-more(href="#") more info...
      | 2011: Open Platform. Front-end web developer (HTML,CSS,JS)
      p.hidden Edinburgh .NET software house. Corporate-level web tools for big financial insitutions and similar types of clients. Their software is very high quality. Since being here I've brushed up a little on my C# and SVN, got familiar with .NET MVC & IIS but mainly focused on creating the front-end of their new website, using jQuery and CSS3.

    li
      a.read-more(href="#") more info...
      | 2010 - 2011: Self Employed. Freelance web and application developer.
      p.hidden One year working primarily through oDesk. Mostly 2-3 major projects and about 8-10 smaller, shorter ones. Almost all web applications.

    li
      a.read-more(href="#") more info...
      | 2006 - 2010: Kintek.com.au. Production Manager, Software Engineer (PHP, MySQL)
      p.hidden When I joined Kintek there were only two staff members (my bosses). They treated me extremely well, and taught me how to produce professional websites. The company has since grown to about 10 employees, and now specialises in making highly advanced web applications. It's cutting edge stuff, with a team that loves it and I count myself lucky to have been a part of it. It was been during my time at Kintek that I developed a real passion for Software Development, and the web as a platform.

    li
      a.read-more(href="#") more info...
      | 2008 - 2009: University of Queensland. Tutor (Web Information Systems)
      p.hidden At University I worked as a tutor for a third year Web Information Systems course (INFS3202), and even received a tutoring excellence award which I was pretty proud of. The course covered topics such as HTML, CSS, Javascript, PHP, JSP, Oracle, MySQL and making basic web apps. It was a relatively easy subject for a lot of students but I believed it was a good, practical course unlike a lot of the other subjects I took.

    //- li
      a.read-more(href="#") more info...
      | 2004 - 2005: Queensland Department of Child Safety. Youth Worker
      p.hidden During university holidays I occasionally worked as a youth worker. This basically involved taking care of some foster kids during the days when no one else was able to. Some of them were pretty challenging behaviourly but overall it was a very rewarding and interesting job.

    li
      a.read-more(href="#") more info...
      | 2001 - 2005: Daily Mercury. IT Support
      p.hidden During high school and university holidays I worked as a trainee to the systems administrator of a local newspaper of about 100 staff. I really enjoyed this job. 
        //- a() Here is a reference.
        |  My main role was to provide technical support to the staff. My boss, the sysadmin was a real pro and I learned plenty about troubleshooting, networking and computer hardware. I also gained a bit of insight into the print industry.


