ul.tabs
  li
    a.tooltip(href="https://github.com/simon-lang", title="github")
      i.fa.fa-github 
      span github
  li
    a.mailto.tooltip(title="email")
      i.fa.fa-envelope
      span email
  li
    a.tooltip(href="http://stackoverflow.com/users/489586/captainclam", title="stackoverflow")
      i.fa.fa-stack-overflow
      span stackoverflow
