#header.toolbar
  .container
    i.fa.fa-print.pull-right.print
    .details.media.cf
      a.nav.media-img(href="#home")
        //- img.avatar(src="https://en.gravatar.com/userimage/23245607/b22fef53c0e82cf0c531802795b9faf3.jpg?size=200")
        img.avatar(src="images/headshot.jpg")

      .media-body
        h2.details__title Simon Lang
          small Really Good Web Programmer
          //- small Brisbane

      //- a.menu-icon
      //-   i.icon-th-list
