section#home.active
  h1
    //- .fa.fa-comment
    |  Hi there! I build high-performance web applications.

  p I'm an Aussie web developer based in Brisbane. I have a Software Engineering degree, and more importantly,
    strong  about 15 years of   industry experience.

  p I specialise in modern
    strong  Javascript &amp; NodeJS development
    | , but also have experience with a&nbsp;
    a.nav(href="#skills") wide range of web technologies
    | , and always love to learn new ones.

  p
    | I have developed applications across a range of industries including e-commerce, online gaming, logistics and supply chain, education, finance, and more recently scholarly publishing and patents.
    |  More examples area available under&nbsp;
    a.nav(href='#employment') employment
    | .

  p.screen-only Links to Github and Stackoverflow profiles below. To contact, please&nbsp;
    a(href="mailto:website@simonlang.org") email me
    | .

  p.print-only
    strong me@simonlang.org

  //- p.availablity-notice
    strong(style="margin: 0 10px 0 5px")
      i.fa.fa-warning
    strong Update 2016:
    span.message  Please note I am no longer taking on any contract work.

  //- h2 Resumes

  //- a(href="SimonLang-CV-Presentation.pdf")
    i.icon-file
    |  Download CV Presentation (12 slides) PDF
  //- |  (From 2011 Job Hunt)
