.menu
  .tabs.container
    a(href="#home") home
    //- a(href="#timeline") Professional Timeline
    a(href="#employment") employment
    //-   //-   a(href="#education") education
    a(href="#skills") skills
    a(href="#portfolio") portfolio
    a.hide-on-mobile(href="#code-samples") code
