ul
  li
    a(href="#home")
      i.icon-home
      | home
  li
    a(href="#employment")
      i.icon-coffee
      | employment
  //- li
  //-   a(href="#education")
  //-     i.icon-book
  //-     | education
  li
    a(href="#skills")
      i.icon-html5
      | skills
  li
    a(href="#portfolio")
      i.icon-trophy
      | portfolio
  li
    a(href="#about")
      i.icon-glass
      | about
  li
    a(href="#code-samples")
      i.icon-star
      | code
