section#portfolio
  h1
    .fa.fa-desktop
    |  Portfolio

  p(style="margin: 1em 0")
    small More information on the employers mentioned available under&nbsp;
        a.nav(href="#employment") employment
    br

  ul.spaced.read-more-items
    li Lens.org - Patent and Scholarly Search
      a.read-more.subtle(href='') more info...
      .hidden
        p Since 2016 I have helped the non-profit Lens.org with their mission to map the world's scholarly and patent data.
        p Projects use: ES6, React, Redux, D3, Angular, Backbone, Java, Spring, ElasticSearch
        .center
          img(lazy-src='http://i.imgur.com/gH9wvi8.png')
          img(lazy-src='http://i.imgur.com/SiN31CB.png')
    li Mars Rover Image Viewer
      a.read-more.subtle(href='') more info...
      .hidden
        p A toy project that started as a coding interview test but which captured my imagination, and I spent the better part of a weekend working on. It uses open source NASA APIs to fetch Mars Rover mission manifests and their associated photos.
        .center
          a(href='http://simon-lang.github.io/mars-rover-image-viewer')
            img.half-width(lazy-src='http://i.imgur.com/U4uBXFU.png')
          a(href='http://simon-lang.github.io/mars-rover-image-viewer')
            img.half-width(lazy-src='http://i.imgur.com/lyewQbc.png')
          br
          a(href='http://simon-lang.github.io/mars-rover-image-viewer') Check it out, here
    li Merge Gaming - Fantasy Sports
      a.read-more.subtle(href='') more info...
      .hidden
        p During 2014 - 2016 at Codeworx, we built a Daily Fantasy Sports site for MLB, NFL, NHL and NBA.
        p Project uses: Coffeescript, Web Sockets (PubSub/RPC), AngularJS, SemanticUI, Browserify, Jade, Less
        .center
          img(lazy-src='http://i.imgur.com/jBIhOic.png')
    li Merge Gaming - Web Poker Client
      a.read-more.subtle(href='') more info...
      .hidden
        p During 2012 - 2014 I worked full time for Codeworx, producing a mobile web client for their poker network.
        p Project uses: Coffeescript, NodeJS, Web Sockets, Browserify, Mocha, Jade, Stylus
        .center
          //- img(lazy-src='images/carbon.jpg', alt='')
          img.half-width(lazy-src='images/webclient1.png', alt='')
          img.half-width(lazy-src='images/webclient2.png', alt='')
          img(lazy-src='images/webclient3.png', alt='')
    li Code Audit
      a.read-more.subtle(href='') more info...
      .hidden
        p In 2014 I consulted for a Brisbane business who producied web applications. I reviewed one of their apps and codebase and produced a 10 page report covering the following aspects of their implementation of one particular project:
        ul(style="margin: 20px 0 10px 40px")
          li Summary
          li MAJOR Issues
          li Minor Issues
          li iOS Application
          li Usability &amp; Design
          li Security Issues
          li General Architecture
          li Database Design and Implementation
          li Missing Functionality
          li Package Management
          li JS Dependencies
          li JS Architecture
          li CSS Dependencies
          li CSS Architecture
          li Unit Testing
          li Version Control &amp; Documentation
          li Deployment, Environments and Processes
          li Data Source Integration
          li Dev Environment Instructions
    li Drawing Tool Prototype
      a.read-more.subtle(href='') more info...
      .hidden
        p In 2014 I assisted a Queensland business to produce a prototype for a unique web-based drafting type tool. The prototype was used in several early demos then turned over to full time developers to refine and make feature complete.
        p The project uses cutting edge web technology and I found it to be a fascinating example of stretching the capabilities of the modern web.
        p Reporting was done on a weekly basis via screencasts.
        p Technologies Used: SVG, D3.js, AngularJS, SocketIO, NodeJS, MongoDB
        .center
          img(lazy-src="images/drawing-tool.png")
    li Hipcharts
      a.read-more.subtle(href='') more info...
      .hidden
        p Weekend projects for experimenting with new technology. Designed by a mate of mine,
          a(href="https://github.com/jsncbt") Jason Corbett
        p Projects use: Coffeescript, NodeJS, Socketsteam, Mocha, Jade, Livereload
        .center
          img(lazy-src="images/hipcharts1.png", alt="")
    li CIO Agency
      a.read-more.subtle(href='') more info...
      .hidden
        p A small functional prototype
        p Project uses: Coffeescript, NodeJS, Browserify. Trello for project management.
        img(lazy-src='images/cio.png', alt='')
    li Spanish Conjugation Quiz
      a.read-more.subtle(href='') more info...
      .hidden
        p A quiz game I made to help me practice conjugating verbs in Spanish
        p Runs both as interactive command line app or web interface
        p
          a(href="https://github.com/simon-lang/spanish-conjugation-quiz")
            | view on github
        img(lazy-src='https://github.com/simon-lang/spanish-conjugation-quiz/raw/master/anim.gif')
    li Open Platform Website
      a.read-more.subtle(href='') more info...
      .hidden
        p For a few months while living in Edinburgh I worked for a .NET agency (see Employment for more details). One of the projects I worked on during that time was a redevelopment of their own site.
        a(href="http://www.openplatform.co.uk/")
          img(lazy-src='images/openplatform.png', alt='')
    li Winning Games: Wickets, Nations &amp; States Card Games
      a.read-more.subtle(href='') more info...
      .hidden
        | In 2011 I assisted a small Australian business called Winning Games to make their card games into web-based apps. They include multiplayer, mini games, thousands of cards and have been implemented as Facebook Apps and Chrome Web Store apps.
        div(style='text-align: center; padding: 20px;')
          a(href="http://www.playwickets.com/")
            img(lazy-src='images/wickets.png')
        | Technologies used: PHP, MySQL, Symfony, Javascript, Google Maps APIs.
        br
        br
        a(href='http://www.playwickets.com/') http://www.playwickets.com/
        br
        a(href='http://www.leadnations.com/') http://www.leadnations.com/
        br
        a(href='http://www.playstates.com/') http://www.playstates.com/
        br
    li CabakMon Digital Signage
      a.read-more.subtle(href='') more info...
      .hidden
        | This was a pretty interesting project that involved interfacing with a few different systems. The result was a slideshow that appeared on an array of large-screen televisions in a local shopping center. On the slides were real-time weather information and energy consumption information  that was fetched dynamically from sensors on the solar panels on the roof of the shopping center.
        div(style='text-align: center; padding: 20px;')
          img(lazy-src='images/cabak-1.jpg')
          img(lazy-src='images/cabak-2.jpg')
          img(lazy-src='images/cabak-3.jpg')
          img(lazy-src='images/cabak-4.jpg')
        | Technologies used: PHP, Zend_RSS, GD2, SQL Server, IIS.
    li Vesox.com Domain Generator
      a.read-more.subtle(href='') more info...
      .hidden
        | A very small tool for a client I started with recently - generates "random" domains for prospective hosting customers, and checks their availability.
        br
        br
        | Technologies used: PHP, Symfony, MySQL
    li Work Experience Directory
      a.read-more.subtle(href='') more info...
      .hidden
        | One of the first projects I took on as a freelancer, involved creating a simple job-search type website, but targeted specifically at Australian high school students looking for work experience placements.
        div(style='text-align: center; padding: 20px;')
          img(lazy-src='images/wed.jpg')
    li STK Newsletter Template
      a.read-more.subtle(href='') more info...
      .hidden
        | A very simple newsletter template. Sliced from PSD to HTML+CSS
        div(style='text-align: center; padding: 20px;')
          img(lazy-src='images/stk.jpg')
  .divider
  p Prior to 2010 I worked for an agency, so I can't claim any of their sites or apps as purely my own work. Head over to
    a(href='http://www.kintek.com.au/', target='_blank') kintek.com.au
    |  to see the sites we developed as a team between 2006 and 2010. My main role was backend and frontend programming, so I also can't take any credit for any of their beautiful designs! =)
  //- p Here are a few of the more interesting projects I worked on during my time there. Contact me for more information about any of these projects.
  //- ul.spaced
    li CRC Mining SmartCap - Software that monitored truck driver's brain waves (seriously)
    li CRMother - Custom CRM we used to manage our customers and projects
    li PurplePalate - Ecommerce Wine &amp; Events
    li TripleP Client Scoring Application - Tool for clinical psychologists
    li Site Management System - Logistics and management for distribution companies
    li TeachThis - Downloadable teaching resources for primary school teachers
    li Plus literally hundreds of small websites and assorted programming tasks...

