section#skills

  h1
    i.fa.fa-html5
    |  Mad Skills

  .columns

    p I love learning new technologies and programming languages. However, these ones are my favourites, and the ones I consider myself most skilled with. Left to my own devices, I will usually choose these technologies for new projects:
    ul
      li Javascript / Coffeescript
      li NodeJS &amp; NPM
      li Express, Socket IO, Browserify, Jade, Stylus, Async
      li Backbone &amp; Underscore JS / Lodash
      li Grunt
      li Git, Gitflow, Semantic Versioning
      li Mocha, Should, JSDom, Phantom
      li jQuery
      li MongoDB, Redis
      li Vagrant
      li Google Maps API
      li Stylus
      li Bash

    p Software/Sites I couldn't live without:
    ul
      li Google Chrome, &amp; Canary
      li Google Apps (Search, Mail, Drive, Maps, Calendar)
      li Sublime Text 2
      li Github, Bitbucket
      li Spotify
      li Stack Overflow
      li Trello
      li OSX
      li Android

    .break-before
    p Technologies which I have plenty of experience with (+5 years), but am not currently using:
    ul
      li PHP 5.3, Symfony, Doctrine, Zend Framework
      li MySQL &amp; Navicat
      li Apache
      li ASP .NET (C#)
      li Microsoft Windows, IIS, SQL Server, Visual Studio 2010
      li Mercurial (HG), Subversion (SVN)
      li Java &amp; JSP
      li LESS &amp; SASS
      li Photoshop, Gimp
      li Fogbugz, Kiln, JIRA, Bitbucket
      li Heroku, Appfog, cPanel, WHM, Nodejitsu

    p Looking forward to experimenting with
    ul
      li Angular JS, React JS
      li Harmony / ECMAScript6
      li Meteor, Sails, Brunch, Marionette
      li PHP5.5, Symfony2, Composer, Lavarel
      li PhoneGap / Cordova
      li Docker / Dokku / Digital Ocean
      li Swift, Go
      li D3
