section#skills

  h1
    i.fa.fa-html5
    |  Skills

  div
    p I love learning new technologies and programming languages. However, these ones are my favourites, and the ones I consider myself most skilled with. Left to my own devices, I will usually choose from these technologies for new projects:
    ul
        li Javascript (ES6), TypeScript, Coffeescript
        li Git, Github, Gitflow, Semantic Versioning, tig
        li NodeJS, npm, yarn
        li Express, REST, WebSockets
        li AngularJS, Lodash, jQuery
        li React, Redux
        li D3, NVD3
        li Webpack, Babel, Browserify, Uglify, Grunt, Gulp
        li Jest, Mocha, Chai, Sinon, JSDom
        li CSS3, LESS, SASS, Stylus
        li Pug (Jade)
        li Bash, zsh, Make
        li MySQL
        li VS Code
        li iTerm2, vim
        li Google Chrome DevTools

    p I also have varying levels of experience with the following:

    ul
      li PHP 5.3, PHP7, Composer, PHPUnit
      li Symfony 1.4, Doctrine, Zend Framework, Code Igniter, Symfony2, Laravel
      li Apache
      li ASP .NET (C#)
      li Microsoft Windows, IIS, SQL Server, Visual Studio 2010
      li Mercurial (HG), Subversion (SVN)
      li Java, Spring, Maven, Freemarker
      li Backbone, Underscore JS, Marionette
      li Highcharts, Chart.js
      li Google Maps API, Leaflet, Open Street Maps
      li Photoshop, Gimp
      li JIRA, Pivotal, Fogbugz, Kiln, Bitbucket, Stash
      li Heroku, Appfog, cPanel, WHM, Nodejitsu
      li Selenium, PhantomJS, WDIO
      li Vagrant, Docker
      li MongoDB, Redis
      li Meteor, Sails, Brunch
      li PhoneGap, Cordova, Ionic
      li Relay, GraphQL
      li ElasticSearch
      li RabbitMQ
