section#skills

  h1
    i.fa.fa-html5
    |  Skills

  .columns

    p I love learning new technologies and programming languages. However, these ones are my favourites, and the ones I consider myself most skilled with. Left to my own devices, I will usually choose from these technologies for new projects:
    ul
      li Javascript (ES6), TypeScript or Coffeescript if necessary
      li NodeJS &amp; NPM
      li Express, WebSockets
      li AngularJS, Backbone, Underscore JS / Lodash
      li React, JSX, Redux, Babel
      li D3, NVD3, Highcharts, Chart.js
      li Webpack, Babel, Browserify, Uglify, Grunt, Gulp
      li Git, Gitflow, Semantic Versioning
      li Jest, Mocha, Chai, Sinon, JSDom, Phantom
      li LESS, SASS &amp; Stylus
      li Jade / Pug
      li Bash, zsh, Make
      li jQuery (obviously)

    p Software/Sites I couldn't live without:
    ul
      li Google Chrome
      li Sublime Text, vim
      li Github, tig
      li iTerm2
      li Spotify
      li Stack Overflow

    .break-before
    p Technologies which I have plenty of experience with (5+ years), but I'm not currently using:
    ul
      li PHP7, Composer, PHPUnit
      li PHP 5.3, Symfony 1.4, Doctrine, Zend Framework, Code Igniter
      li MySQL
      li Apache
      li ASP .NET (C#)
      li Microsoft Windows, IIS, SQL Server, Visual Studio 2010
      li Mercurial (HG), Subversion (SVN)
      li Java &amp; JSP
      li Photoshop, Gimp
      li Google Maps API
      li Fogbugz, Kiln, JIRA, Bitbucket, Stash
      li Heroku, Appfog, cPanel, WHM, Nodejitsu
      li Selenium
      li Vagrant

    p Have played around with:
    ul
      li MongoDB, Redis
      li Docker
      li Symfony2, Laravel
      li Meteor, Sails, Brunch, Marionette
      li PhoneGap / Cordova

    p Looking forward to experimenting with:
    ul
      li Any language other than Javascript
      li Relay
      li GraphQL
      li ElasticSearch
