html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  background: #111;
  color: #555;
  font-family: 'Roboto', sans-serif;
}
.island {
  padding: 24px;
}
.container {
  padding: 0 12px;
  margin: 0 auto;
  max-width: 600px;
  position: relative;
}
h1,
h2,
h3,
h5,
h6 {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 600;
}
h2 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
p {
  margin-bottom: 12px;
}
.flat {
  margin-bottom: 0 !important;
}
.media,
.media__body {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}
.media__img {
  float: left;
  margin-right: 12px;
}
.media__img img {
  display: block;
}
img {
  max-width: 100%;
}
a {
  color: #2584d3;
}
.unstyled {
  margin-left: 0;
  list-style: none;
}
.tiny-caps {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
}
.logo {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-size: 28px;
  text-align: center;
  margin-bottom: 36px;
}
.login {
  margin-bottom: 48px;
}
.sign-up {
  color: #fff;
  font-size: 14px;
  display: block;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-weight: 300;
}
.sign-up span {
  font-weight: 700;
}
.btn {
  padding: 0;
  display: block;
  height: 44px;
  line-height: 44px;
  border-radius: 4px;
  background: #2584d3;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  width: 100%;
}
.btn:focus {
  outline: 0;
}
.landing {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  top: 0;
  -webkit-transition: opacity 0.5s ease;
          transition: opacity 0.5s ease;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.landing:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 100%;
  background-image: url("../images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: landingBG 15s ease;
          animation: landingBG 15s ease;
  z-index: 5;
}
.landing__content {
  position: relative;
  z-index: 10;
}
.input {
  width: 100%;
  border: 0;
  color: #fff;
  font-size: 13px;
  padding: 12px;
  margin-bottom: 24px;
}
.input:focus {
  outline: 0;
}
.input--clear {
  background: none;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.input--clear::-webkit-input-placeholder {
  color: #fff;
}
.app {
  position: relative;
  background-color: #f5f5f5;
  overflow: hidden;
  display: none;
}
.menu {
  position: absolute;
  top: 0;
  left: -240px;
  max-width: 240px;
  width: 100%;
  background-color: #fff;
  height: 100%;
  z-index: 20;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  left: -100%;
  z-index: 15;
  background-color: rgba(255,255,255,0.9);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease;
}
.overlay-visible .overlay {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 1;
}
.overlay-visible .sub-nav {
  opacity: 1;
}
.overlay-visible .trigger:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.trigger {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  position: fixed;
  bottom: 12px;
  right: 12px;
  width: 50px;
  height: 50px;
  color: #fff;
  background-color: #2584d3;
  border-radius: 50%;
  line-height: 52px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid #164e7c;
  box-shadow: 0 1px 1px rgba(0,0,0,0.5);
  z-index: 30;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.trigger:before {
  display: block;
  font-family: 'FontAwesome';
  content: "\f067";
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.trigger:active {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}
.header {
  height: 50px;
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  margin-bottom: 24px;
}
.header--sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header__action {
  color: #2584d3;
  text-align: center;
  top: 0;
  position: absolute;
  text-decoration: none;
  font-weight: 600;
  height: 50px;
  line-height: 50px;
  padding: 0 12px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.header__action--menu {
  padding-left: 12px;
  left: 0;
  font-size: 18px;
}
.header__title {
  color: #555;
  font-size: 16px;
  padding-left: 6px;
}
.content {
  padding-top: 62px;
  padding-bottom: 12px;
}
.entry {
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 2px;
  background-color: #fff;
  border-bottom-color: #999;
}
.entry__hd {
  margin: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
}
.entry__title {
  font-weight: 600;
  color: #111;
  margin-bottom: 0;
}
.entry__body {
  font-size: 13px;
  padding: 12px;
}
.entry__more {
  color: #2584d3;
  text-decoration: none;
  font-weight: 600;
}
.entry__more--block {
  display: block;
  padding: 6px 0;
}
.entry__footer {
  padding: 12px;
  background-color: #eee;
  border-top: 1px solid #ddd;
}
.entry__action {
  text-decoration: none;
  font-weight: 600;
  color: #555;
}
.entry__reel {
  background-color: #444;
  padding: 12px;
  overflow: hidden;
  box-shadow: inset 2px 2px rgba(0,0,0,0.8);
}
.entry__thumb {
  width: 100%;
  height: 0;
  padding-top: 50%;
  background-color: rgba(255,255,255,0.2);
  background-size: cover;
}
.entry__thumb:first-child {
  margin-left: 0;
}
.entry__type {
  margin-bottom: 12px;
  display: block;
}
.avatar {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  background-color: #ccc;
}
.collapsible {
  display: none;
}
.collapsible--visible,
.collapsible:target {
  display: block;
}
.sub-nav {
  opacity: 0;
  -webkit-transition: all 0.5s 0.2s ease;
          transition: all 0.5s 0.2s ease;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding-bottom: 80px;
}
.sub-nav__item {
  font-size: 14px;
  font-weight: 500;
  color: #555;
  text-decoration: none;
  display: block;
  padding: 12px 24px;
  text-align: right;
}
.sub-nav__icon {
  color: #555;
  margin-left: 12px;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px !important;
  color: #fff;
  background-color: #2584d3;
  border-radius: 50%;
}
.sub-nav__label {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
.offcanvas {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 30;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
          transition: opacity 0.25s ease;
}
.menu-visible .offcanvas {
  opacity: 1;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
.drawer {
  position: absolute;
  top: 0;
  left: -100%;
  width: calc(100% - 40px);
  background-color: #fff;
  height: 100%;
  -webkit-transition: all 0.25s 0.25s ease;
          transition: all 0.25s 0.25s ease;
}
.menu-visible .drawer {
  -webkit-transform: translateX(calc(100% + 40px));
      -ms-transform: translateX(calc(100% + 40px));
          transform: translateX(calc(100% + 40px));
}
.sidebar__group {
  border-top: 1px solid #eee;
}
.sidebar__group:first-child {
  border-top: 0;
}
.sidebar__title {
  padding: 12px;
}
.sidebar__item {
  height: 44px;
  line-height: 44px;
  color: #555;
  font-size: 13px;
  display: block;
  padding: 0 12px;
  text-decoration: none;
}
.logged-in .landing {
  -webkit-animation: fadeOutDown 0.3s 0.25s ease forwards;
          animation: fadeOutDown 0.3s 0.25s ease forwards;
}
.logged-in .app {
  -webkit-animation: fadeIn 0.25s ease;
          animation: fadeIn 0.25s ease;
}
@-webkit-keyframes landingBG {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-10%, 0, 0);
            transform: translate3d(-10%, 0, 0);
  }
}
@keyframes landingBG {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-10%, 0, 0);
            transform: translate3d(-10%, 0, 0);
  }
}
