
// Scaffolding
// -------------------------

*
  box-sizing: border-box

html {
  font-size: 100%;
}

body { 
}

// Soft resets
// -------------------------

img {
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
}

// Removes the fluidness of images in Google Maps

#googlemap img, object, embed { max-width: none; }

#map_canvas embed { max-width: none; }

#map_canvas img { max-width: none; }

#map_canvas object { max-width: none; }

// Links
// -------------------------
