@import 'abstractions'
@import 'base'
@import 'lightbox'
@import 'tooltips'

$cobalt = #2D323B

*
  margin: 0
  padding: 0
  // transition: all 0.2s

li
  list-style-type: none

body
  font-family: 'Helvetica Neue'
  color: #ccc
  background: rgb(17, 17, 21)
  margin: 0 auto
  font-size: 1.2em

.container
  max-width: 1000px
  margin: 0 auto

.toolbar
  background: $cobalt
  padding: 10px
  position: relative
  border-bottom: 1px solid #222

.avatar
  width: 100px
  height: 100px
  overflow: hidden
  border-radius: 50px
  position relative
  top: 8px
  left: 20px

.details__title
  margin: 0 // base's fault
  font-weight: 100
  color: #fff
  font-size: 280%
  margin-top: 10px
  margin-left: 30px
  small
    display: block
    text-transform: uppercase
    color: #717887
    font-size: 60%

.menu-icon
  position: absolute
  right: 20px
  top: 20px
  font-size: 32px
  top: 20px

.menu
  background: rgb(26, 28, 35)  

.tabs
  display: -webkit-flex
  a
    -webkit-flex: 1
    color: rgba(255, 255, 255, 0.3)
    display: block
    padding: 10px
    text-decoration: none
    text-align: center
    overflow: hidden
    &:hover, &.active
      background: #111
      color: white

a
  color: rgb(45, 125, 220) 

.main
  // text-shadow: 1px 1px 1px #444
  section
    display: none
    padding: 20px
  section.active
    display: block
  h1
    margin-top: 10px
    margin-bottom: 20px
    .fa
      margin-right: 10px
  p
    line-height: 1.6
    margin-bottom: 10px
  li
    margin: 10px
    margin-left: 20px
    list-style-type: square

.spaced li
  margin-bottom: 20px

.hidden
  display: none
  background: rgba(0,0,0,0.8)
  margin: 20px
  padding: 20px
  border: 1px solid #333
  
.well
  margin: 20px
  padding: 20px
  background: rgba(0,0,0,0.8)
  border: 1px solid #333

.center
  text-align: center

#portfolio img
  margin: 20px 0
  &.half-width
    width: 45%
    margin-right: 2%

.footer .tabs
  display: -webkit-flex

.footer .tabs li
  -webkit-flex: 1
  font-size: 48px
  padding-bottom: 20px
  span
    display: none
  a
    padding-bottom: 100px

.read-more
  float: right

#skills
  ul
    margin: 20px 0 40px
    opacity: 0.9
  .columns
    -webkit-columns: 2
    p, li
      margin-right: 25px
    .break-before
      -webkit-column-break-before: always

#home p
  line-height: 1.8

#header img
  cursor: pointer
  
@media all and (max-width : 480px)
  
  section
    font-size: 80%
  #home
    font-size: 90%

  #header
    // display: none
    .details__title
      font-size: 180%
      margin-left: 10px
  .menu
    font-size: 80%

  .avatar
    width: 80px
    height: 80px
    overflow: hidden
    border-radius: 40px
    left: 10px

  .tabs a.hide-on-mobile
    display: none

  #skills .columns
    -webkit-columns: 1
